<div class="relative h-screen bg-cover bg-center bg-no-repeat">

  <svg
    class="absolute inset-0 w-full h-full"
    viewBox="0 0 1200 1000"
    preserveAspectRatio="xMidYMid slice"
  >

    <defs>
      <radialGradient id="bgGradient" cx="50%" cy="50%" r="60%">
        <stop offset="0%" stop-color="#111111" />
        <stop offset="60%" stop-color="#0a0a0a" />
        <stop offset="100%" stop-color="#000000" />
      </radialGradient>
    </defs>
    <rect width="1200" height="1000" fill="url(#bgGradient)" />
    <g
      fill="none"
      stroke="white"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
      opacity="0.9"
      transform="translate(0, -300)"
    >

      <path d="M 273.3 963.3 L 333.2 949.4 L 438.3 901.8 L 454.7 888.6 L 530.2 860.7 L 553.2 860.7 L 566.3 854.2 L 607.4 855.8 L 648.4 870.6 L 679.6 891.9 L 692.7 891.9 L 711.6 873.1 L 710.8 846.0 L 746.9 841.0 L 796.2 823.0 L 809.3 823.0 L 816.7 830.4 L 810.1 869.8 L 813.4 884.5 L 838.9 896.9 L 891.4 888.6 L 1062.1 837.8 L 1117.9 836.1 L 1179.5 853.4 L 1134.3 836.1 L 1067.0 834.5 L 1012.9 846.0 L 899.6 883.7 L 830.6 893.6 L 813.4 878.0 L 820.0 833.7 L 807.7 819.7 L 711.6 843.5 L 718.2 822.2 L 705.9 801.6 L 691.9 800.8 L 687.0 777.8 L 700.1 759.8 L 700.1 749.9 L 691.1 747.5 L 683.7 756.5 L 685.4 776.2 L 667.3 797.5 L 659.1 818.9 L 660.7 835.3 L 673.1 849.2 L 684.5 854.2 L 705.9 847.6 L 710.0 851.7 L 704.2 878.8 L 696.0 864.0 L 678.8 871.4 L 680.4 882.9 L 695.2 887.8 L 682.9 890.3 L 650.9 869.8 L 639.4 846.8 L 646.0 841.9 L 606.6 761.4 L 586.0 747.5 L 623.0 835.3 L 636.1 843.5 L 647.6 868.1 L 608.2 853.4 L 600.0 832.0 L 608.2 825.4 L 573.7 743.4 L 554.9 736.0 L 581.9 820.5 L 598.4 832.0 L 604.9 848.4 L 600.8 857.5 L 571.3 854.2 L 560.6 828.7 L 568.8 823.8 L 568.8 815.6 L 542.5 738.4 L 525.3 732.7 L 521.2 741.7 L 542.5 817.2 L 559.0 828.7 L 563.9 855.0 L 538.4 860.7 L 531.1 856.6 L 502.3 736.0 L 529.4 856.6 L 504.0 870.6 L 494.9 866.5 L 491.7 841.9 L 501.5 835.3 L 501.5 825.4 L 488.4 751.6 L 481.0 740.9 L 471.1 744.2 L 465.4 754.9 L 475.2 833.7 L 481.0 844.3 L 490.0 845.1 L 493.3 869.8 L 458.0 888.6 L 452.3 858.3 L 463.7 845.1 L 457.2 772.9 L 453.9 754.9 L 444.9 754.0 L 434.2 761.4 L 434.2 791.0 L 437.5 856.6 L 450.6 861.6 L 449.0 892.7 L 425.2 905.1 L 417.8 902.6 L 417.0 767.2 L 416.1 904.2 L 408.8 913.3 L 383.3 920.7 L 383.3 891.1 L 396.4 881.3 L 399.7 781.1 L 390.7 777.0 L 378.4 787.7 L 370.2 886.2 L 381.7 892.7 L 380.0 920.7 L 359.5 936.3 L 340.6 938.7 L 343.9 907.5 L 357.0 899.3 L 368.5 797.5 L 366.1 790.2 L 356.2 790.2 L 347.2 797.5 L 332.4 896.0 L 332.4 905.9 L 342.3 909.2 L 339.0 938.7 L 310.3 954.3 L 302.1 956.0 L 299.6 948.6 L 304.5 922.3 L 319.3 909.2 L 337.3 802.5 L 331.6 796.7 L 318.5 800.0 L 314.4 809.0 L 293.0 912.4 L 302.9 925.6 L 296.3 955.1 L 288.9 959.2 L 265.9 960.9 L 263.5 951.8 L 300.4 800.0 L 261.8 953.5 L 254.4 962.5 L 231.5 960.9 L 227.4 951.8 L 237.2 920.7 L 247.9 919.8 L 253.6 907.5 L 281.5 807.4 L 275.8 796.7 L 262.7 796.7 L 255.3 814.0 L 225.7 907.5 L 233.9 923.9 L 224.1 955.1 L 195.3 951.0 L 184.7 942.0 L 196.2 909.2 L 210.1 906.7 L 214.2 899.3 L 250.3 794.3 L 236.4 780.3 L 227.4 786.0 L 188.0 886.2 L 186.3 897.7 L 194.5 909.2 L 178.9 941.2 L 148.6 920.7 L 169.9 866.5 L 160.9 831.2 L 131.3 893.6 L 124.8 880.4 L 103.4 877.2 L 91.1 886.2 L 90.3 900.1 L 47.6 870.6 L 14.0 866.5 L 41.0 870.6 L 90.3 903.4 L 114.9 906.7 L 132.1 897.7 L 159.2 842.7 L 166.6 869.8 L 146.9 922.3 L 170.7 941.2 L 216.7 960.9 L 273.3 963.3"       class="animate-floatSoft" style="--x:4px; --y:-10px; --duration:16s;"/>

    </g>
  </svg>

  <div class="absolute inset-0 bg-black/30"></div>

  <div
    class="relative h-screen overflow-y-scroll scroll-smooth text-white"
    data-controller="scroll fade"
  >
    <%= render "shared/navbar" %>

    <div class="pt-32"></div>

    <section class="px-6">
      <div class="max-w-7xl mx-auto">
        <h1 class="text-5xl font-bold mb-2">
          <%= t("scores.title") %>
        </h1>
        <p class="max-w-2xl opacity-70 text-lg">
          <%= t("scores.subtitle") %>
        </p>
      </div>
    </section>

    <% if @arrangements.any? %>
      <section data-animated-background-section>
        <div class="max-w-7xl mx-auto space-y-10 mt-16">
          <h2 class="text-3xl font-semibold">
            <%= t("scores.arrangements") %>
          </h2>

          <% @arrangements.each do |score| %>
            <%= render "scores/score_card", score: score %>
          <% end %>
        </div>
      </section>
    <% end %>

    <% if @compositions.any? %>
      <section data-animated-background-section>
        <div class="max-w-7xl mx-auto space-y-24">
          <h2 class="text-3xl font-semibold">
            <%= t("scores.compositions") %>
          </h2>

          <% @compositions.each do |score| %>
            <%= render "scores/score_card", score: score %>
          <% end %>
        </div>
      </section>
    <% end %>

    <div class="pt-32"></div>

  </div>
</div>
