<div
  class="relative h-screen bg-cover bg-center bg-no-repeat"
>

  <%= render "shared/animated_background" %>

  <div class="absolute inset-0 bg-black/30"></div>

  <div
    class="relative h-screen overflow-y-scroll snap-y snap-mandatory scroll-smooth
           text-textprimary"
    data-controller="scroll fade"
  >
    <%= render "shared/navbar" %>

    <section class="min-h-screen snap-start px-6" id="about" data-animated-background-section>
      <%= render "shared/aboutme" %>
    </section>

    <div class="pt-32"></div> <!-- SPACER -->

    <section class="min-h-screen snap-start px-6" id="whoami" data-animated-background-section>
      <%= render "shared/whoami" %>
    </section>

    <div class="pt-32"></div> <!-- SPACER -->

    <section id="experience" class="min-h-screen snap-start text-white px-6" data-animated-background-section>
      <div class="max-w-4xl mx-auto">
        <div data-controller="accordion" class="space-y-4">
          <% t("experience.items").each do |item| %>
            <%= render partial: "shared/experience", locals: { item: item } %>
          <% end %>
        </div>
      </div>
    </section>

    <div class="pt-32"></div> <!-- SPACER -->

    <section class="min-h-screen snap-start px-6" id="projects" data-animated-background-section>
      <%= render "shared/projects" %>
    </section>

    <div class="pt-32"></div> <!-- SPACER -->

    <section id="technology" class="min-h-screen snap-start text-white px-6" data-animated-background-section>
      <%= render "shared/technology" %>
    </section>

    <div class="pt-32"></div> <!-- SPACER -->

    <section id="contact" class="min-h-screen snap-start text-white px-6" data-animated-background-section>
      <%= render "shared/contact" %>
    </section>
  </div>
</div>
